<div class="warrior">
   <div class="helmet">
      <div class="half-circle">
         <div class="vrt-torso"></div>
      </div>
      <div class="torso">
         <div class="circle"></div>
         <div class="circle"></div>
         <div class="circle"></div>
         <div class="circle"></div>
         <div class="circle"></div>
         <div class="circle"></div>
      </div>
   </div>
   <div class="hair">
      <div class="hair-1"></div>
      <div class="hair-bor"></div>
      <div class="hair-2"></div>
      <div class="hair-2-bor"></div>
   </div>
   <div class="face">
      <div class="eyebrow"></div>
      <div class="eye"></div>
      <div class="nose"></div>
      <div class="nose2"></div>
      <div class="eye2"></div>
      <div class="mouth">
         <div class="tongue"></div>
      </div>
   </div>
   <div class="hair-3">
   </div>
   <div class="sword">
      <div class="sword-div">
         <div class="sword-iron"></div>
      </div>
      <div class="sword-div2">
         <div class="sword-iron2"></div>
      </div>
      <div class="grip"></div>
      <div class="grip2"></div>
      <!--     <div class="grip3"></div> -->
      <div class="grip4"></div>
   </div>
   <div class="hand">
      <div class="braclet"></div>
   </div>
   <div class="chest"></div>
   <div class="chest2"></div>
   <div id="main-shield">
      <div id="shield">
         <div id="shield2"></div>
         <div id="shield3"></div>
      </div>
   </div>
   <div class="leg"></div>
   <div class="leg2"></div>
   <div class="feet"></div>
   <div class="feet2"></div>
</div>
<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<div class="type">
   <span>Warriors</span>
   <span>are coming soon...</span>
   <span></span>
</div>
